etc/
*.nob
*.vim
*.so
*.so*
*.a
*.o
a.out
*.dylib*
ui_test
metaprogram
.DS_Store
.vscode
*.dSYM
tags
vgcore*
aseprite/atlas.json
*.log
nob
nob.old
meta
ui_test.js
ui_test.html
ui_test.wasm
ui_test.data
build/
third_party/raylib/build/
third_party/clay/
screenshot*.png
sounds/*.mp3
*.webm
test
test_lexer_results
test_output_old
*.obj*
*.pdb*
*.rdi*
*.ilk*
*.exe*
*.lib*
*.exp*
*.dll*
semaphore_exercise
main
job_system_example
copy_of_game.txt
macos_virtual_memory_test
*.input
*.state
prompt
*env*
tmp/*
